    h1 {
        color:blue;
        font-weight: bold;
        margin-left: 1%;  
        padding-left: 20px;
    }


    .enchere {
        width: 80%;
        margin: 0 auto;
        border: 2px solid #000; 
        padding: 5px; 
        margin-left: 1%; 
        margin-bottom: 1%;
    }
    .info {
        width: 80%;
        margin: 0 auto;
        border: 2px solid #000; 
        padding: 5px; 
        margin-left: 1%; 
        margin-bottom: 1%;
    }
    .buttons-container {
        display: flex;
        margin-top: 20px;
        
    }
    
    .button {
        width: 5%; 
        height: auto;
        cursor: pointer;
        border-radius: 50%;
        padding: 5px;
        border: 2px solid #000;


    }
    